<br>
<div class="jumbotron">
<h1>Welcome to Blocmetrics</h1>
<p>API Tracking Service and Reporting Tool</p>
  
  <% if user_signed_in? %>
    <%= link_to 'Edit Account', edit_user_registration_path, class: 'btn btn-primary' %> or 
    <%= link_to 'Sign Out', destroy_user_session_path, :method=>'delete', class: 'btn btn-primary' %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  <% end %>
  
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Cleans your house</h2>
    <p>Blocmetrics will clean your home daily with a fleet of nanobots.</p>
  </div>
  <div class="col-md-4">
    <h2>Boosts wifi signal</h2>
    <p>Blocmetrics will ensure full wifi coverage in any home.</p>
  </div>
  <div class="col-md-4">
    <h2>Blocks robocalls</h2>
    <p>Blocmetrics will destroy any system attempting robocalls to your phones.</p>
  </div>
</div>