%br/
.jumbotron
  %h1 Blocmetrics
  %p An analytics service analytics service which:

/ %div{:class => "row">
/   <div class="col-md-4">
/     <h2>Wiki History</h2>
/     <p>Coded in 1995 by Ward Cunningham, the software engine WikiWikiWeb was designed as a quick way to make webpages.</p>
/   </div>
/   <div class="col-md-4">
/     <h2>Culture Shock</h2>
/     <p>The usefulness of Wiki is in the freedom, simplicity, and power it offers.</p>
/   </div>
/   <div class="col-md-4">
/     <h2>Work in Progress</h2>
/     <p>This is a forum where people share ideas! It changes as people come and go, and much of the information here is subjective.</p>
/   </div>
/ </div>

  %p 1. enables users to track events on their website

  %p 2. captures those events to a database via a server-side API

  %p 3. displays the event data
